
.cardmain .content {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .cardmain:hover .content {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .cardmain .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin: 0 20px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  }
  
  .cardmain:hover .overlay {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%);
    margin-bottom: 0; /* Move the overlay to its final position */
  }
  .cardmain .overlay-bg{
    background: #87BCD9;

  }

